@import "tailwindcss";
@plugin "./daisyui.js";

@font-face {
  font-family: "Pulang";
  src:
    url("/fonts/Pulang.ttf")
}

@font-face {
  font-family: "Anime";
  src:
    url("/fonts/Anime.ttf")
}

@font-face {
  font-family: "Delius";
  src:
    url("/fonts/Delius.ttf")
}

@theme {
  --font-header: "Pulang", "sans-serif";
  --font-header-2: "Anime", "sans-serif";
  --font-text: "Delius", "sans-serif"; 
}

p, a {
  @apply font-text;
}

h1, h2, h3 {
  @apply font-header-2;
}